# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/

# Environment variables
.env

# Database
db.sqlite3

# Django
media/
staticfiles/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Firebase
firebase_key.json

# Logs
*.log

# IDE
.idea/

# Python cache
.pytest_cache/
.mypy_cache/

# Build files
build/
dist/

# Local settings
local_settings.py